<div class="card">
    <h2 class="card__title">Vuelos</h2>
    asdasd
    {{dataFlight()}}
    <table class="card__table styled-table">
        
      <thead>
        <tr>
          @for (item of columnKeys; track $index) {
          <th class="styled-table__header">{{item}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of flightRequests; track $index) {
        <tr class="styled-table__row">
          @for (key of columnKeys; track $index) {
          <td class="styled-table__cell">
            @if (key === 'price') {
              {{ item[key] | currency }}
            }
            @else {
              @if (key === 'localDate') {
                {{ item[key] | date: 'medium' }}
              }
              @else{
                {{item[key]}}
              }
            }
          </td>
          }
          <td class="styled-table__cell actions">
            <div class="actions__items">
              <lib-button-table [icon]="images[0]" [rowIndex]="$index"  ariaLabel="Remove" ></lib-button-table>
              <lib-button-table [icon]="images[1]" [rowIndex]="$index"  ariaLabel="Edit" ></lib-button-table>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>