<div class="card">
    <h2 class="card__title">Vuelos</h2>
    <table class="card__table styled-table">
      <thead>
        <tr>
          @for (item of columnKeys; track $index) {
          <th class="styled-table__header">{{item}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of data; track $index) {
        <tr class="styled-table__row">
          @for (key of columnKeys; track $index) {
          <td class="styled-table__cell">
            @if (key === 'price') {
              {{ item[key] | currency }}
            }
            @else {
              @if (key === 'localDate') {
                {{ item[key] | date: 'medium' }}
              }
              @else {
                {{ isArray(item[key]) ? item[key].length : item[key] }}
              } 
            }
          </td>
          }
          <td class="styled-table__cell actions">
            <div class="actions__items">
              <!-- <lib-buttons [icon]="images[0]" [rowIndex]="$index" (buttonClick)="deleteData(item.id)" ariaLabel="Remove" ></lib-buttons>
              <lib-buttons [icon]="images[1]" [rowIndex]="$index" (buttonClick)="updateData(item.id)" ariaLabel="Edit" ></lib-buttons> -->
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>