@use './../../styles/reset.scss' as reset;
@use './../../styles/variables' as variables;
@use './../../styles/mixins' as mixins;
.layout {
    @include mixins.flex-style(row, nowrap, 0px);
    &__aside {
        width: 18%;
        background-color: variables.$blue;
        height: 100vh;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
    } 

    &__header {
        @include mixins.flex-style(row, nowrap, 0px);
        align-items: center;
        background-color: variables.$secondary-color;
        padding: 0 40px;
        height: 18%;
        & h1{
            font-size: 40px;
        }
    }

    &__body {
        padding: 10px 40px;
    }
}