<details class="accordion">

    <summary class="accordion__header">

        <section class="accordion__content">
            <div class="accordion__info">
                <div class="accordion__info-reserva">
                    <span class="accordion__info-icon">✈</span>
                    <span class="accordion__info-label">Reserva N°</span>
                    <span class="accordion__info-number">0305484</span>
                </div>
                <div class="accordion__info-calendar">
                    <span class="accordion__info-iconCalendar">📆</span>
                    <span class="accordion__info-date accordion__info-date--especial">2019-05-01</span>
                    <span class="accordion__info-time">10:30 - 12:00</span>
                </div>
                <div class="accordion__info-state">
                        <p class="accordion__info-state">Pendiente</p>
                </div>
            </div>
        </section>

        <span class="accordion__icon">▽</span>

        <section class="accordion__destination">
            <h3 class="accordion__destination-name">MED</h3>
            <div class="accordion__destination-details">
                <span class="accordion__destination-duration">1h 30m</span>
                <span class="accordion__destination-route">●—————————●</span>
                <span class="accordion__destination-modality">Directo</span>
            </div>
            <h3 class="accordion__destination-name">BGA</h3>
        </section>
    </summary>

    <p>lorem400</p>

</details>
<details class="accordion">

    <summary class="accordion__header">

        <section class="accordion__content">
            <div class="accordion__info">
                <div class="accordion__info-reserva">
                    <span class="accordion__info-icon">✈</span>
                    <span class="accordion__info-label">Reserva N°</span>
                    <span class="accordion__info-number">0305484</span>
                </div>
                <div class="accordion__info-calendar">
                    <span class="accordion__info-iconCalendar">📆</span>
                    <span class="accordion__info-date accordion__info-date--especial">2019-05-01</span>
                    <span class="accordion__info-time">10:30 - 12:00</span>
                </div>
                <div class="accordion__info-state">
                        <p class="accordion__info-state">Pendiente</p>
                </div>
            </div>
        </section>

        <span class="accordion__icon">▽</span>

        <section class="accordion__destination">
            <h3 class="accordion__destination-name">MED</h3>
            <div class="accordion__destination-details">
                <span class="accordion__destination-duration">1h 30m</span>
                <span class="accordion__destination-route">●—————————●</span>
                <span class="accordion__destination-modality">Directo</span>
            </div>
            <h3 class="accordion__destination-name">BGA</h3>
        </section>
    </summary>

    <p>lorem400</p>

</details>

