<main class="details">
    <section class="details__capa" (click)="closeDetailsHandler()"></section>
    <article class="details__card">

        <span class="details__close" (click)="closeDetailsHandler()">❌</span>

        <header class="details__header">
            <h1 class="details__title">Detalles de la reserva</h1>
        </header>

        <section class="details__info">
            <div class="details__column">
                <div class="details__initial">
                    <h2 class="details__subtitle">Pasajero</h2>
                    <p class="details__text">Nombre del pasajero</p>
                </div>

                <div class="details__initial">
                    <h2 class="details__subtitle">Clase</h2>
                    <p class="details__text">Economica</p>
                </div>

                <div class="details__initial">
                    <h2 class="details__subtitle">Fecha de compra</h2>
                    <p class="details__text">12 Feb 2025</p>
                </div>

                <div class="details__initial">
                    <h2 class="details__subtitle">Método de pago</h2>
                    <p class="details__text">Tarjeta de credito</p>
                </div>

            </div>

            <div class="details__row">
                <div class="details__group">
                    <h2 class="details__subtitle">Documento del pasajero</h2>
                    <p class="details__text">1100124598</p>
                </div>
                <div class="details__group">
                    <h2 class="details__subtitle">Impuestos</h2>
                    <p class="details__text">12.000 $</p>
                </div>

                <div class="details__group">
                    <h2 class="details__subtitle">Cantidad de pasajeros</h2>
                    <p class="details__text">5</p>
                </div>

                <div class="details__group">
                    <h2 class="details__subtitle">Precio</h2>
                    <p class="details__text">45.000 $</p>
                </div>

                <div class="details__status">
                    <p class="details__alert">
                        <span class="details__alert-icon">⚠️</span>
                        La reserva sigue pendiente
                    </p>
                </div>
            </div>
        </section>

        <footer class="details__actions">
            <button class="details__button details__button--confirm">Confirmar</button>
            <button class="details__button details__button--cancel">Cancelar</button>
        </footer>
    </article>
</main>