<aside class="sidenav" role="navigation">
    <figure class="sidenav__logo">
        <img src="https://firebasestorage.googleapis.com/v0/b/drecreo-b4af8.appspot.com/o/images%2FAIRSofka%201.png?alt=media&token=16e30b2b-6af7-4dee-a2d7-577e9822c178"
            alt="logo de AirSofka">
    </figure>
    <nav class="sidenav__nav">
        <menu class="sidenav__menu" role="menu" aria-label="Menu principal de navegación del panel de administración">
            @for(item of listMenu; track $index){
            <li class="sidenav__menu-item" role="menuitem">
                <a>{{item.title}}</a>
            </li>
            }
        </menu>
    </nav>
</aside>