<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div>
        <label for="aggregateId">ID</label>
        <input id="aggregateId" formControlName="aggregateId" />
    </div>

    <div>
        <label for="flightNumber">Número de Vuelo</label>
        <input id="flightNumber" formControlName="flightNumber" />
    </div>



    <div>
        <label for="flightModel">Modelo de Avión</label>
        <input id="flightModel" formControlName="flightModel" />
    </div>

    <lib-control-route [formGroup]="formGroup"></lib-control-route>
    <div>
        <label for="price">Precio</label>
        <input id="price" type="number" formControlName="price" />
    </div>

    <div>
        <label for="departureTime">Hora de Salida</label>
        <input id="departureTime" type="datetime-local" formControlName="departureTime" />
    </div>

    <div>
        <label for="arrivalTime">Hora de Llegada</label>
        <input id="arrivalTime" type="datetime-local" formControlName="arrivalTime" />
    </div>

    <button type="submit">Enviar</button>
</form>
